%tabset
  %tab{"heading" => "Skaters"}
    .skatersController{'ng-controller' => 'skatersController'}
      .list
        .field_headers
          .field
            First Name
          .field
            Last Name
          .field
            Derby Name
          .field
            Email
        %ul
          %li.item.skater{'ng-repeat' => "skater in skaters", 'ng-click' => 'setCurrentSkater(skater)'}
            .field
              {{skater.first_name}}
            .field
              {{skater.last_name}}
            .field
              {{skater.derby_name}}
            .field
              {{skater.email}}

      .currentSkater
        .field
          %input{'ng-model' => 'currentSkater.first_name', placeholder: 'First Name'}
        .field
          %input{'ng-model' => 'currentSkater.last_name', placeholder: 'Last Name'}
        .field
          %input{'ng-model' => 'currentSkater.derby_name', placeholder: 'Derby Name'}
        .field
          %input{'ng-model' => 'currentSkater.email', placeholder: 'Email'}
        .actions
          .btn.btn-primary{'ng-click' => 'saveCurrentSkater()'} Save
        .actions
          .btn.btn-warning{'ng-click' => 'newSkater()'} New Skater
  %tab{"heading" => "Practices"}
    .practicesController{'ng-controller' => "practicesController"}
      .list
        .field_headers
          .field
            Year
          .field
            Month
          .field
            Day
        %ul
          %li.item.practice{'ng-repeat' => "practice in practices", 'ng-click' => 'setCurrentPractice(practice)'}
            .field
              {{practice.date | date: 'yyyy'}}
            .field
              {{practice.date | date: 'MMM'}}
            .field
              {{practice.date | date: 'd'}}
      .currentPractice
        .row
          %div{:class=>"col-md-6"}
            %p{:class=>"input-group"}
              %input{:type=>"text", :class=>"form-control", "datepicker-popup"=>"{{format}}",
              "ng-model"=>"currentPractice.date", "is-open"=>"opened", "min-date"=>"minDate", "max-date"=>"'2015-06-22'",
              "datepicker-options"=>"dateOptions", "date-disabled"=>"disabled(date, mode)", "ng-required"=>"true", "close-text"=>"Close" }
                %span{:class=>"input-group-btn"}
                  %button{:type=>"button", :class=>"btn btn-default", "ng-click"=>"open($event)"}
                    %i.glyphicon.glyphicon-calendar
        .actions
          .btn.btn-primary{'ng-click' => 'saveCurrentPractice()'} Save
        .actions
          .btn.btn-warning{'ng-click' => 'newPractice()'} New Practice
