%tabset
  %tab{"heading" => "Skaters"}
    .skatersController{'ng-controller' => 'skatersController'}
      .list
        .field_headers
          .field
            First Name
          .field
            Last Name
          .field
            Derby Name
          .field
            Email
        %ul
          %li.item.skater{'ng-repeat' => "skater in skaters", 'ng-click' => 'setCurrentSkater(skater)'}
            .field
              {{skater.first_name}}
            .field
              {{skater.last_name}}
            .field
              {{skater.derby_name}}
            .field
              {{skater.email}}

      .currentSkater
        .field
          %input{'ng-model' => 'currentSkater.first_name', placeholder: 'First Name'}
        .field
          %input{'ng-model' => 'currentSkater.last_name', placeholder: 'Last Name'}
        .field
          %input{'ng-model' => 'currentSkater.derby_name', placeholder: 'Derby Name'}
        .field
          %input{'ng-model' => 'currentSkater.email', placeholder: 'Email'}
        .actions
          .btn.btn-primary{'ng-click' => 'saveCurrentSkater()'} Save
  %tab{"heading" => "Practices"}
    .practicesController

