%tabset
  %tab{"heading" => "Skaters"}
    .skatersController{'ng-controller' => 'skatersController'}
      .list
        .field_headers
          .field
            %div{'ng-click' => "predicate = 'first_name'; reverse=!reverse"}
              First Name
          .field
            %div{'ng-click' => "predicate = 'last_name'; reverse=!reverse"}
              Last Name
          .field
            %div{'ng-click' => "predicate = 'derby_name'; reverse=!reverse"}
              Derby Name
          .field
            %div{'ng-click' => "predicate = 'email'; reverse=!reverse"}
              Email
        %ul
          %li.item.skater{'ng-repeat' => "skater in skaters | orderBy:predicate:reverse",
          'ng-click' => 'setCurrentSkater(skater)'}
            .field
              {{skater.first_name}}
            .field
              {{skater.last_name}}
            .field
              {{skater.derby_name}}
            .field
              {{skater.email}}

      .currentSkater
        .field
          %input{'ng-model' => 'currentSkater.first_name', placeholder: 'First Name'}
        .field
          %input{'ng-model' => 'currentSkater.last_name', placeholder: 'Last Name'}
        .field
          %input{'ng-model' => 'currentSkater.derby_name', placeholder: 'Derby Name'}
        .field
          %input{'ng-model' => 'currentSkater.email', placeholder: 'Email'}
        .actions
          .btn.btn-primary{'ng-show' => 'currentSkater', 'ng-click' => 'saveCurrentSkater()'} Save
          .btn.btn-warning{'ng-show' => 'currentSkater.id', 'ng-click' => 'newSkater()'} New Skater
  %tab{"heading" => "Practices"}
    .practicesController{'ng-controller' => "practicesController"}
      %div{'ng-hide' => 'displayPracticeSkaters'}
        .list.practices
          .field_headers
            .field
              %div{'ng-click' => "predicate = 'date'; reverse=!reverse"}
                Date

          %ul
            %li.item.practice{'ng-repeat' => "practice in practices | orderBy:predicate:reverse",
            'ng-click' => 'setCurrentPractice(practice)'}
              .field
                {{practice.date | date: 'EEE MMM d, yyyy'}}
        .currentPractice
          .row
            %div{:class=>"col-md-6"}
              %p{:class=>"input-group"}
                %input{:type=>"text", :class=>"form-control", "datepicker-popup"=>"{{format}}",
                "ng-model"=>"currentPractice.date", "is-open"=>"opened", "min-date"=>"minDate", "max-date"=>"'2015-06-22'",
                "datepicker-options"=>"dateOptions", "date-disabled"=>"disabled(date, mode)", "ng-required"=>"true", "close-text"=>"Close" }
                  %span{:class=>"input-group-btn"}
                    %button{:type=>"button", :class=>"btn btn-default", "ng-click"=>"open($event)"}
                      %i.glyphicon.glyphicon-calendar
          .actions
            .btn.btn-primary{'ng-show' => 'currentPractice.date',
              'ng-click' => 'saveCurrentPractice()'} Save
            .btn.btn-info{'ng-show' => 'currentPractice.id',
              'ng-click' => 'showSkaters()'} Skaters
            .btn.btn-danger{'ng-show' => 'currentPractice.id',
              'ng-click' => 'deleteCurrentPractice()'} Delete
            .btn.btn-warning{'ng-show' => 'currentPractice.id', 'ng-click' => 'newPractice()'} New Practice

      .practiceSkaters{'ng-show' => 'displayPracticeSkaters'}
        %h4 Skaters for {{currentPractice.date | date: 'MMM d, yyyy'}}
        .list
          .field_headers
            .field.derby_name
              %div{'ng-click' => "predicate = 'derby_name'; reverse=!reverse"}
                Derby Name
            .field
              Attended
            .field
              Injured
            .field
              Vacation
            .field
              Partial
            .field
              Absent

          %ul
            %li.item.skater{'ng-repeat' => "skater in skaters | orderBy:predicate:reverse",
            'ng-click' => 'setCurrentSkater(skater)'}
              .field.derby_name
                {{skater.derby_name}}
              .field
                %input{type: 'radio', 'ng-model' => 'skater.status.status',
                'ng-change' => "saveStatus(skater)",
                value: 'attended'}
              .field
                %input{type: 'radio', 'ng-model' => 'skater.status.status',
                'ng-change' => "saveStatus(skater)",
                value: 'injured'}
              .field
                %input{type: 'radio', 'ng-model' => 'skater.status.status',
                'ng-change' => "saveStatus(skater)",
                value: 'vacation'}
              .field
                %input{type: 'radio', 'ng-model' => 'skater.status.status',
                'ng-change' => "saveStatus(skater)",
                value: 'partial'}
              .field
                %input{type: 'radio', 'ng-model' => 'skater.status.status',
                'ng-change' => "saveStatus(skater)",
                value: 'absent'}

        .btn.btn-info{'ng-click' => 'hideSkaters()'} Hide
