@import "bootstrap"
@import "table_divs"
@import "reports"

body
  padding: 15px

.label
  min-width: 120px
  margin-top: 3px
  margin-right: 3px
  text-align: right
  float: left

.tabbable .nav
  cursor: pointer

.no_status
  background: #ffbdbd  !important
  &:hover
    background: #fff  !important
