=form_tag attendence_percentage_report_path, method: :get do
  .field
    .label.label-default From
    =date_select :start_date, :date, default: 1.month.ago
  .field
    .label.label-default To
    =date_select :end_date, :date, default: Date.today
  =submit_tag "Search", class: 'btn btn-info'

%hr

%h4
  Report from
  =@report.start_date.strftime("%b %d, %Y")
  to
  =@report.end_date.strftime("%b %d, %Y")

.field
  .label.label-primary Total Practices
  =@report.practices.count

%table.attendence_report
  %tr
    %th Skater
    %th Attendence
  -@report.skaters.each do |skater|
    %tr
      %td= link_to skater.derby_name, :controller => :skaters, :id => skater.id, :action => :practices, start_date: date_to_params(@report.start_date), end_date: date_to_params(@report.end_date)
      %td= "#{skater.attendence_percentage.to_i}%"
