!!!
%html{"ng-app" => 'derby'}
  %head
    %title Sprd
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %h1 SPRD
    =link_to 'Home', root_path
    \|
    =link_to 'Attendence Percentage Report', attendence_percentage_report_path
    %hr
    = yield
